
*{
    margin: 0;
    position: 0;
    box-sizing: border-box;
    user-select:none;
    overflow: hidden;
  }


  .fullpage {
    position: absolute;
    background-color: #ffffff;
    bottom: 0;
    width: 100%;
    height: 100vh;
    transition: transform 2s ease-out;
  }
  
  .fullpage.raise-up {
    transform: translateY(-100vh);
  }
  .container{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    
    flex-direction: row;
    justify-content: center;
  
    align-items: center;
  }
  video{
    /* margin-top: 0vh; */
    z-index: 100;
    /* position: absolute; */
    /* left: 0; */
    /* top: 0; */
    width: 24%;
    height: 23%;
    border: none;
    padding: 0;
    display: block;
    flex: 0 0 1;
  margin: 0;
  object-fit: fill;
    
  }
  #v1{
    width: 25%;

  }
 #v2{
  width: 23%;
 }  
  .text{
    /* font-family: "Kannada MN", "Kannada Sangam MN", "Lohit Kannada", serif; */
    position: absolute;
    z-index: 101;
    /* top: 0; */
    /* left: 0; */
    background: #000000;
    height: 23vh;
    width: 49%;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    font-weight: 900;
    mix-blend-mode: multiply;
  }
  
  


  .message {
    z-index: 103;
    position: absolute;
    color: #444444;
    font-size: 1.75vw;
  font-weight: 5;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    animation-name: color-change;

  animation-duration: 2s;
  animation-fill-mode: forwards;
  }
  

.hide{
  animation-name: fade-out;
  animation-duration: 10s;
}


  /* @keyframes color-change {
    0% {
      color: red;
    }
    50% {
      color: #FFFF00;
    }
    100% {
      color: white;
    }
  } */

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
    
  }

  
